.character{
    margin:0px;
    margin-top:-5px;
    padding:0px;

    font-family: 'matrix-code';
    color:#20c20e;
    writing-mode:vertical-lr;
    text-orientation:upright;
    white-space:nowrap;
    user-select:none;
    text-shadow:0px 0px 8px rgba(32, 194, 14, 0.8);
    font-size:30px;


}